@media screen and (max-width: 1366px) {
    article p {

        flex-grow: 4;
        width: 60%;
    }
    .header {

        margin-left: 13%;
        margin-right: 13%;
    }
    .content {
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media screen and (max-width: 1280px) {
    h1 {

        font-size: 5.5em;
    }
    article p {

        flex-grow: 4;
        width: 60%;
    }
    .header {

        margin-left: 8%;
        margin-right: 8%;
    }
    .content {
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media screen and (max-width: 1024px) {
    h1 {
        width: 70%;
    }
    .header {

        margin-left: 3%;
        margin-right: 3%;
    }
    .content {
        margin-left: 3%;
        margin-right: 3%;
    }
    .header-section {
        font-size: 4em;
    }

}
@media screen and (max-width: 960px) {
    .header {
        margin-left: 3%;
        margin-right: 3%;
        background-position: top;
        justify-content: center;
    }
    .heading {
        justify-content: center;
    }
    h1 {
        width: 100%;
        font-size: 4em;
        justify-content: center;
        transform:skew(170deg,174deg);
        text-align: center;
        padding-right: 1em;
        padding-top: 0.6em;
        margin-bottom: 0;
        order: 1;
        padding-left: 1em;

    }
    h2 {

        justify-content: center;
        padding-right: 0;
        padding-top: 0;
        order: 2;
    }
    header p {
        display: none;

    }
    nav {
        order: 4;
        margin-right: 0;
    }
    nav ul {
        justify-content: center;
        padding-left: 1em;
        padding-right: 1em;
    }
    nav li {
        width: 100%;
        justify-content: center;
    }

}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3.2em;
    }
}
@media screen and (max-width: 640px) {
    .content article {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .article-img {
        display: none;
    }
    article p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: #333333;
        font-weight: 500;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.73);
        font-size: 1em;
        width: 90%;
        padding-left: 1.5em;
    }
    .header-section {
        font-size: 2.6em;
    }

}
@media screen and (max-width: 480px) {
    .gif-of-the-day .article-img {
        height: 16em;
    }
    h1 {
        padding-left: 0.4em;
        padding-right: 0;
    }
    article a {
        font-size: 1.3em;
    }
    footer a {
        font-size: 1.3em;
        padding: 0.6em;
    }

}
@media screen and (max-width: 320px) {

}
