/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster|Merriweather:300,300i,400,400i,700,700i,900,900i|Neucha|Poiret+One|Rubik+Mono+One|Russo+One');

 /*font-family: 'Neucha', cursive;
font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Bad Script', cursive; */





body {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333333;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    background: url(http://st.depositphotos.com/2786775/3320/v/950/depositphotos_33205999-stock-illustration-cats-texture.jpg) repeat center;
    /*background-size: cover;*/

}
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 171, 0.88);
    padding-top: 30px;
}

.header {
    display: flex;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
    justify-content: center;
    background: url(https://static.pexels.com/photos/160191/pexels-photo-160191.jpeg) no-repeat center;
    background-size: cover;
    border: 5px solid rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
/*navigation*/
nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Bad Script', cursive;
    font-size: 1.6em;
    font-weight: bolder;
    margin-right: 2em;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

nav li {

    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 5px;
    margin: 0.2em;
}

nav a {
    text-align: center;
    text-decoration: none;
}
.home {
    color: #ff9f0d;
}
.news {
    color: #ff22a5;
}
.about-us {
    color: #b44fff;
}
.contact-us {
    color: #5caaff;

}




nav > ul > li:hover {
    background: #ffffff;
    text-shadow: 0px 0px 8px rgba(255, 97, 152, 0.44);
}

/*heading*/

.heading {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    font-size: 7em;
    font-family: 'Lobster', cursive, sans-serif;
    margin: 0;
    padding-right: 0.6em;
    text-align: right;
    font-weight: 900;
    color: rgba(255, 12, 118, 0.4);
    text-shadow: 2px 2px rgba(255, 97, 152, 0.49);
    background: -webkit-linear-gradient(top, #ffde09, #ff57b7);
    background: linear-gradient(top, #ff4f68, #ff0c76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.05em;
    transform:skew(170deg,174deg);
}



h2 {
    font-family: 'Bad Script', cursive;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 2em;
    font-weight: bolder;
    padding-right: 2.8em;
    padding-top: 2.1em;
    text-shadow: 0px 0px 10px rgba(34, 83, 16, 0.95);
    color: #fff0ed;
    margin: 0;
    transform:skew(170deg,174deg);
}
header p {
    font-family: 'Bad Script', cursive;
    display: flex;

    justify-content: flex-end;
    font-size: 1.4em;
    font-weight: 300;
    padding-right: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    margin-right: 2.8em;
    text-shadow: 0px 0px 10px rgba(34, 83, 16, 0.95);
    color: #fff0ed;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 1em;
}

/*main*/

.content {
    display: flex;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.header-section {
    font-family: 'Bad Script', cursive;
    display: flex;
    width: 100%;
    font-size: 5em;
    justify-content: center;
    margin: 0;
    text-align: center;
    font-weight: 900;
    color: rgba(255, 12, 118, 0.4);
    text-shadow: 2px 2px rgba(255, 17, 115, 0.73);
    background: -webkit-linear-gradient(top, #b7fffa, #66d3ff);
    background: linear-gradient(top, #4594ff, #3300be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


section {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content article {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    background: url(http://cdn.wallpapersafari.com/52/21/tmDIcK.jpg) no-repeat center;
    background-size: cover;
    border: 5px solid rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article-img {
    display: flex;
    margin: 2em;
    flex-grow: 90;
    background: url(https://cdn.meme.am/cache/instances/folder620/57842620.jpg) no-repeat top;
    background-size: contain;

}

.article-img p {
    display: none;
}

article p {
    display: flex;
    color: #333333;
    font-weight: 500;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.73);
    font-size: 1.4em;
    width: 60%;


}
article a {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgba(34, 83, 16, 0.95);
    color: #fff0ed;
    padding-bottom: 1em;
}
.header-section a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.gif-of-the-day .header-section{
    text-align: center;
    font-weight: 900;
    color: rgba(255, 12, 118, 0.4);
    text-shadow: 2px 2px rgba(186, 29, 255, 0.95);
    background: -webkit-linear-gradient(top, #b7fffa, #66d3ff);
    background: linear-gradient(top, #4594ff, #3300be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gif-of-the-day .article-img {
    display: flex;

    background: url(https://68.media.tumblr.com/16dd14cdfe44aa04eff6631e77011526/tumblr_nllmvfQvgj1uqlfk4o1_500.gif) no-repeat top;
    background-size: contain;
    height: 30em;

}

.gif-of-the-day article {
    display: flex;
    flex-direction: column;
    background: url(https://s-media-cache-ak0.pinimg.com/originals/e0/6c/72/e06c72a3be87fcdce047b74fcea810f4.png) no-repeat center;
    background-size: cover;
 


}


footer {
    display: flex;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
    justify-content: center;

}

footer a {
    font-family: 'Bad Script', cursive;
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    color: rgba(255, 12, 118, 0.4);
    text-shadow: 2px 2px rgba(102, 66, 255, 0.73);
    background: -webkit-linear-gradient(top, #b7fffa, #66d3ff);
    background: linear-gradient(top, #4594ff, #3300be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
<<<<<<< HEAD

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    width: 200px;
    background-color: rgba(255, 12, 118, 0.4);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #66d3ff;
}

.container {
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

textarea {
    height: 200px;
}

.gifs {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

article ul li img {
    margin: 10px;
    overflow: auto;
    width: 200px;
    height: 200px;
}

ul li {
    list-style-type: none;
    float: left;
    position: relative;
    left: 40px;
}
=======
>>>>>>> origin/gh-pages
